/* LANDING SECTION  */

#landing {
  height: 18rem;
  text-align: right;
  min-height: 18rem;
  background-repeat: no-repeat !important;
  background-size: contain !important;
  width: 100vw;

  overflow-x: hidden !important;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
    url("https://github.com/eliameshie/mpa-website/blob/master/img/MPAlogo2.jpeg?raw=true");
}
.landingUnder {
  height: 4.5rem;
  min-height: 4.5rem;
  background-color: #161616;
  color: #424242;
}
#landing2 {
  height: 50vh;
  background-color: #1d1d1d;
}

.landingHeading {
  color: #000000 !important;
}
.landingTitle {
  font-weight: 900;
  text-transform: uppercase;
  color: #910404;
}

.landingHeading {
  font-weight: 900;
  color: white;
}

.landingCaption {
  color: rgb(0, 0, 0);
}

.landingButtons {
  margin: 1rem;
}

.landingButton {
  background-color: #800000;
  padding: 0.75rem 0.75rem;
  border-radius: 0.125rem;
  color: white;
}

.landingButton:hover,
.findButton:hover {
  color: white;
  text-decoration: none;
}

/* FIND PSYCHOLOGIST SECTION */

#find {
  padding-top: 10rem;
  padding-bottom: 10rem;
  margin-bottom: 5rem;
  background-color: white;
  text-align: center;
  min-height: 50vh;
}

.findHeader {
  font-weight: 900;
  color: black;
}

.findCaption {
  margin-bottom: 2rem;
}

.findButton {
  background-color: #800000;
  padding: 0.75rem 0.75rem;
  border-radius: 0.125rem;
  color: white;
  margin-bottom: 4rem;
}

.findImage {
  width: 100%;
}

@media (max-width: 767px) {
  #landing {
    height: 18rem;
    text-align: center;
    width: 100vw;

    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      url("https://github.com/eliameshie/mpa-website/blob/master/img/MPAlogo2.jpeg?raw=true");
      background-repeat: no-repeat !important;
      background-size:cover!important; 
      background-position: center!important;

  }
  #landing.offset {
    height: 20rem;
    text-align: center;
    width: 100vw;

    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      url("https://github.com/eliameshie/mpa-website/blob/master/img/MPAlogo2.jpeg?raw=true");
      background-repeat: no-repeat !important;
      background-size:contain!important; 
      background-position: center!important;

  }
  .landingUnder {
    height: 3.5rem;
  }
  .landingHeading {
    color: rgb(255, 255, 255) !important;
  }
  p.landingCaption {
    color: rgb(255, 255, 255) !important;
  }

}

@media(max-width:1381px){
  #landing{
    background-size: 300px 200px!important;
    background-position: left;
  }
}

@media(max-width:1068px){
  #landing{
    background-size: 200px 140px!important;
    background-position: bottom left;

  }
}