/* LANDING SECTION  */

#landing {
  height: 23rem;
  text-align: right;
  min-height: 23rem;
  background-repeat: no-repeat !important;
  background-size: contain !important;
  width: 100vw;

  overflow-x: hidden !important;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
    url("https://github.com/eliameshie/mpa-website/blob/master/img/MPAlogo2.jpeg?raw=true");
}
.landingUnder {
  height: 4.5rem;
  min-height: 4.5rem;
  background-color: #161616;
  color: #424242;
}
#landing2 {
  height: 50vh;
  background-color: #1d1d1d;
}
.landingImage {
}

.landingHeading {
  color: #000000 !important;
}
.landingTitle {
  font-weight: 900;
  text-transform: uppercase;
  color: #910404;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.562);
}

.landingHeading {
  font-weight: 900;
  color: white;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.562);
}

.landingCaption {
  color: rgb(0, 0, 0);
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.562);
}

.landingButtons {
  margin: 1rem;
}

.landingButton {
  background-color: #800000;
  padding: 0.75rem 0.75rem;
  border-radius: 0.125rem;
  color: white;
}

.landingButton:hover,
.findButton:hover {
  color: white;
  text-decoration: none;
}

/* FIND PSYCHOLOGIST SECTION */

#find {
  padding-top: 10rem;
  padding-bottom: 10rem;
  margin-bottom: 5rem;
  background-color: white;
  text-align: center;
  min-height: 50vh;
}

.findHeader {
  font-weight: 900;
  color: black;
}

.findCaption {
  margin-bottom: 2rem;
}

.findButton {
  background-color: #800000;
  padding: 0.75rem 0.75rem;
  border-radius: 0.125rem;
  color: white;
  margin-bottom: 4rem;
}

.findImage {
  width: 100%;
}

@media (max-width: 767px) {
  #landing {
    height: 24rem;
    text-align: center;
    background-repeat: no-repeat !important;
    background-size: contain !important;
    width: 100vw;

    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      url("https://github.com/eliameshie/mpa-website/blob/master/img/MPAlogo2.jpeg?raw=true");
  }
  .landingUnder {
    height: 3.5rem;
  }
  .landingHeading {
    color: rgb(255, 255, 255) !important;
  }
  p.landingCaption {
    color: rgb(255, 255, 255) !important;
  }

}

@media(max-width:1440px){

}